*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 6em;
}


.companyName{
  width: 50%;
  font-family: 'Alumni Sans Pinstripe';
  font-weight: 600;
  font-size: 2.8em;
  display: flex;
  align-items: center;
  gap: 1em;
}
.name{
  font-family: 'Alumni Sans Pinstripe';
  margin-left: 100px;
}

.navlinks{

  justify-content: flex-end;
  width: 50%;
  display: flex;
  align-items: center;  
  flex-wrap: wrap;
  margin-right: 100px;

}

.navlinks li{
  list-style: none;
}


.navlinks a{
  text-decoration: none;
  color: black;
}

.navlinks ul{
  display: flex;
  gap: 1em;
  font-size: 90%;
  text-decoration: none;
  color: black;
  flex-wrap: wrap;
}

/* Burger Button Styles */

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1em;
  z-index: 20;
}
.burger .bar {
  width: 2em;
  height: 0.28em;
  background: #222;
  margin: 0.23em 0;
  border-radius: 2px;
  transition: 0.3s;
}
.burger.open .bar:nth-child(1) {
  transform: translateY(1em) rotate(45deg);
}
.burger.open .bar:nth-child(2) {
  opacity: 0;
}
.burger.open .bar:nth-child(3) {
  transform: translateY(-0.51em) rotate(-45deg);
}


@media (max-width: 430px){
  .navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .companyName {
    width: 100%;
    font-size: 2.3em;
    margin-bottom: 0.2em;
  }

  .navlinks {
    width: 100%;
    justify-content: center;
    display: none;
    margin-right: 0px
  }

  .show{
    display: block;
  }

  .navlinks ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    
  }

  .burger {
    display: flex;
  }
}

